// @import '_footer';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}

.game-container {
  width: 500px;
  height: 250px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.pin {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  color: blue;

  &.is-visible {
    background-color: black;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;

  &:nth-child(1) {
    width: 90%;
  }

  &:nth-child(2) {
    width: 70%;
  }

  &:nth-child(3) {
    width: 50%;
  }
}


.score-board {
  .player-score {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
  }

  .frame {
    width: 10%;
    height: 50px;
    border: 1px solid black;
    text-align: right;

    .first-score,
    .second-score {
      display: inline-block;
      vertical-align: top;
      border: 1px solid black;
      text-align: center;
      height: 15px;
      width: 40%;
    }
  }
}


.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 20px;
  background: #FFF;
  box-shadow: 2px 2px 3px black;
  text-align: center;

  button {
    margin-top: 20px;
  }
}


button {
  padding: 10px 20px;
  background-color: black;
  color: #FFF;
}
